@import url("fonts.css");

body {
    background-color: #000;
    color: #fff;
    font-family: "TptFont";
    overflow: hidden;
    user-select: none !important;
    -moz-user-select: none !important;
    -webkit-user-select: none !important;
}

input {
    color: #fff;
    font-family: "TptFont";
}

#ParticleContainer div {
    position: absolute;
    pointer-events: none;
}