@import url("./fonts.css");

body {
    background-color: #000;
    color: #fff;
    font-family: "TptFont";
    overflow: hidden;
    user-select: none !important;
    -moz-user-select: none !important;
    -webkit-user-select: none !important;
}

input {
    color: #fff;
    font-family: "TptFont";
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

.DropZone {
  width: 250px;
  height: 100px;
  box-sizing: border-box;
  border: 5px dashed white;
  border-radius: 16px;
  padding: 16px;
  float: right;
}

.DropZone * {
  width: 100%;
  height: 100%;
  font-size: 100%;
  text-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
}

#LogContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 400px;
  height: 150px;
  left: 250px;
  bottom: 37.5px;
  overflow: hidden;
}

#LogContainer span {
  margin-bottom: 5px;
  width: 100%;
  height: 16px;
  font-size: 16px;
  transition-property: opacity;
  transition-duration: 1s;
  transition-timing-function: ease;
}

#ParticleContainer div {
    position: absolute;
    width: 100%;
    height: 100%;
}

span img {
  height: 100%;
  aspect-ratio: 1 / 1;
}