@font-face {
    font-family: "TptFont";
    src: url("../../fonts/TptFont.ttf") format("truetype");
}

@font-face {
    font-family: "TptFont2";
    src: url("../../fonts/TptFont2.ttf") format("truetype");
}

@font-face {
    font-family: "TptFont3";
    src: url("../../fonts/TptFont3.ttf") format("truetype");
}